h1 {
  align: center;
}

img {
  width: 900px;
  height: auto;
}

body {
    background-color: lightblue;
}

.large {
  width: 200%;
  height: 200%;
}

.wide {
  width: 1200px;
  height: auto;
}

#bora {
  display: none;
}

#bora2 {
  display: none;
}

#bora3 {
  display: none;
}

#boras {
  display: none;
}

#boras2 {
  display: none;
}

#boras3 {
  display: none;
}

#muir {
  display: none;
}

#muir2 {
  display: none;
}

#muir3 {
  display: none;
}

#muirs {
  display: none;
}

#muirs2 {
  display: none;
}

#muirs3 {
  display: none;
}
